<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Proyecto Django{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenido a Mi Proyecto Django</h1>
        <!-- Puedes agregar aquí un menú de navegación si lo deseas -->
    </header>

    <main>
        {% block content %}
        <!-- Aquí irá el contenido específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Mi Proyecto Django</p>
    </footer>
</body>
</html>
