
<h2>Dirección IP Asignada al broker de la red {{ type }} :</h2>
<ul>

    {% if broker_open5G_mgmt_ip %} <li>Open5G Core Network Broker IP: {{ broker_open5G_mgmt_ip }}</li> {% endif %}
    {% if broker_free5G_mgmt_ip %} <li>Free5G Core Network Broker IP: {{ broker_free5G_mgmt_ip }}</li> {% endif %}
    {% if broker_gen_mgmt_ip %} <li>Generic Network Broker IP: {{ broker_gen_mgmt_ip }}</li> {% endif %}

</ul>

<h2>Direcciones IP Asignadas de la red {{ type }} :</h2>
<ul>
    {% if UE_open5G_mgmt_ip %} <li>UE Management IP: {{ UE_open5G_mgmt_ip }}</li> {% endif %}
    {% if AGF_open5G_mgmt_ip %} <li>AGF Management IP: {{ AGF_open5G_mgmt_ip }}</li> {% endif %}
    {% if core5G_open5G_mgmt_ip %} <li>Core 5G Management IP: {{ core5G_open5G_mgmt_ip }}</li> {% endif %}
    {% if server_open5G_mgmt_ip %} <li>Server Management IP: {{ server_open5G_mgmt_ip }}</li> {% endif %}
    {% if UE_free_mgmt_ip %} <li>UE Management IP: {{ UE_free5G_mgmt_ip }}</li> {% endif %}
    {% if AGF_free_mgmt_ip %} <li>AGF Management IP: {{ AGF_free5G_mgmt_ip }}</li> {% endif %}
    {% if core5G_free_mgmt_ip %} <li>Core 5G Management IP: {{ core5G_free5G_mgmt_ip }}</li> {% endif %}
    {% if server_free_mgmt_ip %} <li>Server Management IP: {{ server_free5G_mgmt_ip }}</li> {% endif %}
    {% if instance_gen_mgmt_ip %} <li>Instance Management IP: {{ instance_gen_mgmt_ip }}</li> {% endif %}

</ul>

<form action="{% url 'network_list' %}" method="post">
    {% csrf_token %}
    <button type="submit">Volver</button>
</form>